.logo {
    overflow: hidden;
    background-color: #1c2657;
}

.content {
    background-color: #ddd;
    padding: 10px;
}

.footer {
background-color: #f1f1f1;
padding: 10px;
}

#bank {
    color: white;
    padding-left: 25%;
}