/* Logo Section */
.logo {
    overflow: hidden;
    background-color: #0f2179;
}

#bank {
    color: white;
    padding-left: 25%;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}