.register-header {
    text-align: center;
    background-color: rgb(207, 161, 9);
    color: white;
    padding: 20px;
}

.register-form {
    text-align: center;
}

.register-line {
    width: 35%;
    margin-bottom: 40px;
}

#prefix {
    width: 40px;
}
