.register-header {
    text-align: center;
    background-color: rgb(207, 161, 9);
    color: white;
    padding: 20px;
}

.register-form {
    text-align: center;
}

.register-line {
    width: 35%;
    margin-bottom: 40px;
}

#prefix {
    width: 40px;
}

.fieldset {
    border: none;
    border-top: 1px solid #8ebf42;
}

.account-details {
    margin-right: 10%;
}

.account_label{
    display:inline-block;
    width:200px;
    margin-right:10px;
    text-align:right;
}

.register-col-long {
    width: 100%;
}

.register-col-long {
    content: "";
    display: table;
    clear: both;
}

.register-col:first-child {
    float: left;
    width: 50%;
    text-align: right;
}

.register-col:last-child {
    float: right;
    width: 50%;
    text-align: left;
}

.register-col:after {
    content: "";
    display: table;
    clear: both;
}